<div class="addEditContainer fade-in">

  <div class="pageHeader">
    <span>Edit supplement</span>
    <span class="deleteButton" {{action 'openConfirmationDialog'}}>DELETE</span>
  </div>


  <div class="addEditSupplementContainer">

    <div class="addEditSupplementLeftContainer">

      {{name-input-component name=model.supplement.0.name}}

      <br/>

      {{description-input-component description=model.supplement.0.description}}

    </div>


    <div class="addEditSupplementRightContainer">

      {{images-input-component actionType='edit'}}

      <br/>

      {{tags-list-component actionType='edit' item=model.tags selectedTags=selectedTagIds}}

    </div>

  </div>

  <div class="addEditButtons">
    <p {{action 'goToSupplementsPage'}}>CANCEL</p>
    <p {{action 'saveData'}}>SAVE</p>
  </div>

</div>

<!-- Set confirmation dialog-->
<div id="confirmationDialog" class="dialogWrapper confirmationDialog">
  <!-- item='tag' sets dialog item value, closure callDelete is triggered from component but ecexuted in controller -->
  {{confirmation-dialog-component callDelete=(action 'deleteSupplement') item='supplement'}}
</div>

<!-- Set dialog overlay -->
<div id="dialogOverlay" {{action 'closeDialog'}}></div>

{{outlet}}